body{
    background-color: black;
}

div{
    display: flex;
    align-content: center;
}

h1{
    color: white;
}

p{
    color: white;
}

.nav-link{
    display: flex;
    gap: 5rem;
    align-items: center;
    list-style: none;
    color: white;
}

.container-inner{
    display: flex;
    /* align-items: center; */
}


.raccourcie{
    display: flex;
    gap: 5rem;
}